@import 'font-variables.scss';

.btn {
  margin: 0;
  border: 0px;
  background: $soft-white-translucent;
  border-radius: 3px;
  border: $light-main-border;
  color: $text-secondary;
  padding: 6px 12px;

  &:hover {
    border: $light-darker-border;
    background: $hard-white-translucent;
    color: $text-primary;
  }
}

.btn-link {
  background: transparent;
  border-color: transparent;

  &:hover {
    background: transparent;
    border-color: transparent;
  }
}

.only-hover {
  background: transparent;
  border-color: transparent;

  &:hover { 
    border-color: transparent;
  }
}

.no-border {
  border-color: transparent;

  &:hover {
    border-color: transparent;
  }
}

.outline {
  border: $light-main-border;
  background: transparent;

  &:hover {
    border: $light-darker-border;
    background: transparent;
  }
}

.btn-xsm {
  padding: 2px 4px;
  font-size: $text-caption3;
}

.btn-sm {
  padding: 3px 6px;
  font-size: $text-caption2;
}

.btn-md {
  padding: 4px 8px;
  font-size: $text-body;
}

.btn-lg {
  padding: 6px 12px;
  font-size: $text-subhead;
}

.btn-xlg {
  padding: 8px 16px;
  font-size: $text-title3;
}

.button-stack {
  padding: 3px 0;

  & > *:not(:last-child) {
    margin-right: 3px;
  }

  &.full-width {
    width: 100%;
  }

  .no-padding {
    padding: 0;
  }

  &.center {
    text-align: center;
  }
  &.right {
    text-align: right;
  }
  
  &.left {
    text-align: left;
  }
}
